<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름 - 댓글</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${delete}">
                <td th:text="${member.name}"></td>
                <td><a th:text="${member.comment}" th:href="@{/comments/view(id=${member.id})}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
